body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #00000000;
}

.navbar img {
    width: 40px;
    height: 40px;
}

.navbar input[type="text"] {
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: white;
    transition: background-color 0.3s ease;
}

.navbar input[type="text"]::placeholder {
    color: #B3B3B3;
}

.navbar input[type="text"]:hover {
    background-color: #444;
}

.navbar .buttons {
    display: flex;
    align-items: center;
}

.navbar .buttons button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar .buttons .b1 {
    background-color: white;
    color: black;
    border-radius: 100px;
    padding: 5px;
}

.navbar .buttons button:hover {
    transform: scale(1.1);
}

.navbar .buttons .b2:hover {
    text-decoration: underline;
}

.navbar .profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #7E57C2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar .profile-icon:hover {
    background-color: #9575CD;
    transform: scale(1.1);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
    height: calc(100% - 70px);
    background-color: #121212;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 70px;
    transition: width 0.3s ease, opacity 0.3s ease;
    overflow: auto;
    border-right: 5px solid transparent;
    cursor: ew-resize;
}

.sidebar.collapsed {
    width: 5px;
    padding: 0;
    overflow: hidden;
    cursor: e-resize;
}

.sidebar-section {
    margin-top: 20px;
}

.sidebar-section h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar-item {
    background-color: #181818;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sidebar-item h3 {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.sidebar-item p {
    color: #B3B3B3;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Main */
.main {
    position: fixed;
    top: 10px;
    right: 0; 
    width: 1025px;
    height: 450px;
    background-color: #121212;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 70px;
    color: white;
    margin-right: 10px;
    overflow-y: auto;
}

.main h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.main .song {
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.main .song img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.main .song .info {
    flex: 1;
}

.main .song .info h3 {
    font-size: 16px;
    margin: 0;
}

.main .song .info p {
    color: #B3B3B3;
    font-size: 14px;
    margin: 0;
}

/* Music Control */
.music-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #2e2e2e;
    padding: 20px; /* Increased height */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.music-controls .progress-bar {
    flex: 1;
    margin: 0 10px;
    background-color: #333;
    height: 5px;
    border-radius: 5px;
    position: relative;
}

.music-controls .progress-bar .progress {
    background-color: #7E57C2;
    height: 100%;
    width: 0%; /* Initial width */
    border-radius: 5px;
}

.music-controls .current-time,
.music-controls .total-time {
    color: white;
    font-size: 14px;
    margin: 0 10px;
}

.music-controls #volume {
    width: 100px;
    margin: 0 10px;
}

.music-controls #speed {
    margin-right: 25px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
}
